* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: #b51c1e;
    display: flex;
    flex-direction: column;
}

h1 {
    width: 100%;
    height: auto;
    font-family: "Rubik Dirt", system-ui;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 40px 0;
}

.body_content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.play_area {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.play {
    height: 65%;
    width: 55%;
    background: #d7ae90;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2%;
    gap: 4%;
    border-radius: 2%;
    position: relative;
}

.play_button {
    border: 0;
    border-radius: 15%;
    background: #9f3607;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    font-family: "Moirai One", system-ui;
    color: #fff;

}

.reset_button {
    font-size: large;
    padding: 10px 50px;
    border: 0;
    border-radius: 5px;
    background: #ed6205;
    color: #fff;
    text-transform: capitalize;
    font-family: "Barriecito", system-ui;
    cursor: pointer;
    display: none;
    transition: transform .1s ease;
}

.reset_button:hover {
    transform: scale(1.1);
}

.player1,
.player2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 25%;
    height: 100%;
}

.player_card {
    width: 60%;
    height: 30%;
    background: #ed6205;
    border-radius: 5%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    font-family: "Bangers", system-ui;
    flex-wrap: wrap;
}

.player_card.active {
    display: flex;
}

.win_notification {
    width: 70%;
    height: 70%;
    position: absolute;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    background: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.win_notification.active {
    display: flex;
}

.win_notification p {
    font-family: "Barriecito", system-ui;
    font-size: 130%;
    text-transform: capitalize;
    color: #000;
}

#player_name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ed6205;
    text-transform: uppercase;
}

.play_again {
    padding: 4% 10%;
    background: #ed6205;
    border: 0;
    border-radius: 5px;
    font-family: "Barriecito", system-ui;
    font-size: medium;
    cursor: pointer;
    transition: transform .1s ease;
    text-transform: uppercase;
}

.play_again:hover {
    transform: scale(1.1);
}

form {
    position: absolute;
    background: #ed6205;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

.welcome,
.greet {
    font-family: "Bangers", system-ui;
    font-size: 30px;
}

.greet {
    color: #fff;
}

form input {
    width: 90%;
    height: 13%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 0;
    font-weight: 500;
    font-size: medium;
}

.submit_name {
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: "Bangers", system-ui;
    background: #000;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    transition: transform .1s ease-in
}

.submit_name:hover {
    transform: scale(1.1);
}

#tie_notification {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 40%;
    position: absolute;
    background: #fff;
    font-size: 20px;
    font-family: "Bangers", system-ui;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tie_notification.active {
    display: flex;
}