* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #E2852E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.play_card {
    width: 38%;
    height: 90%;
    background: #fff;
    border-radius: 10px;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play_card_head,
.show_winner,
.choices,
.reset {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coin_flipping_area {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    perspective: 1000px;
}

.score_card {
    width: 100%;
    height: 15%;
}

.play_card_head h1 {
    font-family: "Luckiest Guy", cursive;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.show_winner p {
    font-family: "Londrina Shadow", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ff7b00;
    text-transform: uppercase;
}

.choices {
    justify-content: space-evenly;
}

.option,
.reset_button {
    width: 20%;
    height: 75%;
    border: 0;
    border-radius: 5px;
    background: #f37602;
    color: #fff;
    font-family: "Boogaloo", sans-serif;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease-in;
}

.score_card {
    width: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 25%;
    height: 90%;
    background: #FF6D1F;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Boogaloo", sans-serif;
    text-transform: capitalize;
}

.card .name {
    width: 100%;
    text-align: center;
    color: black;
}

.reset_button {
    background: black;
}

.coin {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: relative;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    --final-rotation: 0deg;
}

.flip {
    animation: coinFlip 3s ease-in-out forwards;
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    backface-visibility: hidden;
}

.heads {
    background: url("./images/coin-heads.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateX(0deg);
}

.tails {
    background: url("./images/coin-tails.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateX(180deg);
}

.option:hover {
    transform: scale(.9);
    font-size: 22px;
    color: black;
}

.reset_button:hover {
    transform: scale(.9);
    font-size: 22px;
}

.the_winner {
    text-transform: uppercase;
    font-family: "Mouse Memoirs", sans-serif;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

.displaythewinner {
    animation: pop 0.5s ease;
}

@keyframes pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes coinFlip {
    0% {
        transform: translateY(0) rotateX(0deg);
    }

    50% {
        transform: translateY(-120px) rotateX(1440deg);
    }

    100% {
        transform: translateY(0) rotateX(var(--final-rotation));
    }
}