* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(1, 1, 26);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-transform: uppercase;
}

.display_card {
    display: none;
}

.play-area {
    display: grid;
    width: 30%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.card {
    background: rgb(149, 147, 198);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;
}

.move,
.match {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.move_card,
.matchcard {
    width: 40%;
    height: 20%;
    background: rgb(112, 112, 142);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: large;
    font-family: "WDXL Lubrifont JP N", sans-serif;
}

.footer {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reset {
    padding: 7px 20px;
    border: 0;
    border-radius: 5px;
    font-size: large;
    text-transform: uppercase;
    font-family: "WDXL Lubrifont JP N", sans-serif;
    cursor: pointer;
    background: rgb(149, 147, 198);
    color: #000;
    transition: all .1s ease-in;
}

.flip {
    animation: cardFlip 0.5s ease-in;
}

.unflip {
    animation: unFlipCard 0.5s ease-in;
}

.reset:hover {
    transform: scale(1.1);
    color: rgb(1, 1, 26);
    color: #fff;
}

@keyframes cardFlip {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(180deg);
    }
}

@keyframes unFlipCard {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0);
    }
}